.tab1{
	position: center;
	margin-left:5%; 
	margin-top: 25px;

}
hr{
	color: black
}
.tab1 td{
   font-family:'Itim', cursive;
	font-size:20px;
	color:black;
}
h3{
	font-family:'Itim', cursive;
	font-size: 25px;
	color:black;
	
	text-decoration: underline;
}
.footer{
	position: absolute;
	bottom:0px;
}