<div class="tab1">
   
              <table class="table table-borderless">
                   <tbody>
                             <tr>
     
                                  <td>Name</td>
                                  <td>Email</td>
                                  <td>Phone NO</td>
      
                              </tr>
                               <tr>
     
                                   <td>Vishwanath Ganapathi B</td>
                                   <td>vishwanathbg90@gmail.com</td>
                                   <td>8867223110</td>
    
                               </tr>
                                
                               


  </tbody>
</table>

<hr style="color: black">
<div class="tab2">
  <table class="table table-borderless">
                   <tbody>
                             <tr>
     
                                  <td>Technical skills:</td>
                                  <td>knowledge of front end technologies like  HTML,CSS and JavaScript,Knowledge of frameworks like Angular and Bootstrap and basic knowledge of node.js and Mongodb,php</td>
      
                              </tr>
                               <tr>
     
                                   <td>Soft Skills:</td>
                                   <td>Good at communication, good listener , ability to work under pressure, team worker</td>
    
                               </tr>
                                
                                
                               


  </tbody>
</table>
</div>
<hr>
<div class="tab3">
  <h3>Education</h3>
  <table class="table table-borderless">
                   <tbody>
                             <tr>
     
                                  <td>Degree</td>
                                  <td>College</td>
                                  <td>University</td>
                                  <td>CGPA/Percentage</td>
                                  <td>Year of passing</td>
      
                              </tr>
                               <tr>
                                  
                                  <td>BE</td>
                                  <td>Bapuji Istitute of Engineering and Technologey </td>
                                  <td>Visvesvaraya Technolgical university</td>
                                  <td>6.10CGPA </td>
                                  <td>2020</td>
    
                               </tr>
                               <tr>
                                  
                                  <td>Diploma</td>
                                  <td>KLE'S CIMunvalli's Polytechnic</td>
                                  <td>Department Technical Education </td>
                                  <td>60.21%</td>
                                  <td>2017</td>
    
                               </tr>
                               <tr>
                                  
                                  <td>SSLC</td>
                                  <td>ST Michels High School</td>
                                  <td>Karanataka Secondary Education Board</td>
                                  <td>78%</td>
                                  <td>2013</td>
    
                               </tr>
                                
                                
                               


  </tbody>
</table>
</div>
<hr>
<div class="tab2">
  
</div>
