
<div class="container-fluid">

  <div class="img">
    <img src="assets/person.jpg" alt="..." class="rounded-circle">

  </div>
  <div class="head"> 
    <h1>Angular Developer</h1>
    <p>Hello , I am Vishwanath Ganapathi B and I am Web developer.I am very passionate about Front end technologies and enthusiastic on exploring more about these technology.My passion is Blogging ,singing,reading</p>
  </div>
  <div class="info">
    <h2  style="text-align: center;text-decoration: underline;color: black;">Other Info</h2>
  </div>
  
  
  

  
         
<div class="tab">
   
              <table class="table table-borderless">
                   <tbody>
                             <tr>
     
                                  <td>Name</td>
                                  <td>Vishwanath Ganapathi B</td>
      
                              </tr>
                               <tr>
     
                                   <td>Email</td>
                                   <td>vishwanathbg90@gmail.com</td>
    
                               </tr>
                                <tr>
   
                                  <td>Phone No</td>
                                  <td>8867223110</td>
                                </tr>
                                <tr>
   
                                   <td>Qualification</td>
                                   <td>BE(IS&E)</td>
                                </tr>
                                <tr>
   
                                   <td>Technical skills</td>
                                   <td>Knowledge of Front end technologies like HTML,CSS<a routerLink="/resume" class="btn btn-warning btn-sm">see more</a></td>

                                </tr>
                                <tr>
                                  <td>projects</td>
                    

                                   
                                </tr>


  </tbody>
</table>
 </div>
</div>   
     


